
.footer {
    display: grid;
    /* grid-template-columns: auto auto auto auto; */
    justify-content: space-evenly;
    grid-template-columns: 25% 25% 25% 25%;
    margin-bottom: 50px;
    margin-left: 150px;
    margin-right: 150px;

}

.footer section {
    border: blue solid ;
}

/* .nav ul {
    list-style: none;
} */

.footer ul {
    list-style: none;
    text-indent: -40px;
}
.footer section {
    margin-left: 0px;
}
