
.footer {
    display: grid;
    /* grid-template-columns: auto auto auto auto; */
    /* justify-content: space-evenly; */
    grid-template-columns: repeat(12, 1fr);
    /* margin-bottom: 50px; */

}

.footer section {
    border: blue solid ;
    padding-left: 20px;
    margin-bottom: 20px;

}

.footer ul, a {
    list-style: none;
    text-decoration: none;
}
.footer__logo {
    grid-column: 1/4;
}
.footer__navigation {
    grid-column: 4/7;
    padding-bottom: 10px;
}
.footer__contact {
    grid-column: 7/10;
}
.footer__social {
    grid-column: 10/13;
}