.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top-parent {
  display: grid;
  /* grid-template-columns: repeat(2,auto); */
}
/* .nav {
  margin-left: 22%;
} */


* {
  margin:0px;
  padding: 0px;
}
html {
  font-size: 100%; /* use this with relative size "rem" to make your page more responsive to user/browser settings*/
}
body {
  /* margin: 20px; */
  height: 95vh;
  min-width: 800px;
  max-width: 1400px;
  /* display: flex; */
  /* align-items: center; */
  /* margin-left: 1vw;
  margin-right: 1vw; */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;/*minmax(1vw, -50%);*/
  transform: translate(-50%, -50%);
  /* margin: 1vw; */
  /*margin-right: minmax(20px, 2rem); */
  margin-left: 1vw;
  /*margin-right: 1vw; */

}